body {
	background-color: #D7BDE2;
	font-family: "Times",sans-serif;
	text-align: center;
}

img {
    max-height: 60%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}