body {
	font-family: "Times",serif;
	background-color: #D7BDE2;
	margin-left: 5%;
	margin-right:5%;
}

h1 {
	text-align: center;
	background-color: #C39BD3;
}

h2 {
	font-size: 20px;
	border: dotted;
	border-color:  #C39BD3;
}

p {
	font-size: 18px;
}

p + ul {
	margin-top: -15px;
}

.bold {
	font-weight: bold;
}