body {
	font-family: "Times",sans-serif;
	background-color: #D7BDE2;
}

h1 {
	text-align: center;
	font-size: 36px;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 18px;
}

p, ul {
	margin: 0;
}

li {
	font-size: 14px;
}

.bold {
	font-weight: bold;
}